name: Publish

on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          working_directory: .
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Publish
        run: pnpm -r publish --access public
